version: '2'

services:
    nginx:
        container_name: gryc-nginx
        build: ./docker/nginx
        ports:
            - 127.0.0.1:8080:80
        depends_on:
            - app
        networks:
            - default

    app:
        container_name: gryc-app
        build: ./docker/app
        environment:
            - DATABASE_URL=mysql://gryc:gryc@db:3306/gryc
            - ELASTICSEARCH_URL=http://es1:9200
            - RABBITMQ_URL=amqp://gryc:gryc@rabbitmq:5672/gryc?lazy=1&connection_timeout=3&read_write_timeout=3
            - MAILER_URL=smtp://login:password@host:587?encryption=tls&auth_mode=login
            - MAILER_SENDER_ADDRESS=me@myhost.tld
            - MAILER_SENDER_NAME=My site name
            - SYMFONY_SECRET=ThisTokenIsNotSoSecretChangeIt
            - RECAPTCHA_PUBLIC_KEY=ReplaceWithYourOwnReCaptchaPublicKeyForInvisibleCatcha
            - RECAPTCHA_PRIVATE_KEY=ReplaceWithYourOwnReCaptchaPrivateKeyForInvisibleCatcha
        depends_on:
            - rabbitmq
            - db
            - es1
        networks:
            - default

    rabbitmq:
        container_name: gryc-rabbitmq
        image: rabbitmq:3.6.11-management
        environment:
            - RABBITMQ_DEFAULT_VHOST=gryc
            - RABBITMQ_DEFAULT_USER=gryc
            - RABBITMQ_DEFAULT_PASS=gryc
        volumes:
            - rabbitmq_data:/var/lib/rabbitmq
        networks:
            - default

    db:
        container_name: gryc-db
        image: mariadb:10.3.1
        environment:
            - MYSQL_ROOT_PASSWORD
            - MYSQL_USER=gryc
            - MYSQL_PASSWORD=gryc
            - MYSQL_DATABASE=gryc
        volumes:
            - db_data:/var/lib/mysql
        networks:
            - default

    es1:
        container_name: gryc-es1
        build: ./docker/elasticsearch
        environment:
            - cluster.name=gryc-cluster
            - bootstrap.memory_lock=true
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
        ulimits:
            memlock:
                soft: -1
                hard: -1
            nofile:
                soft: 65536
                hard: 65536
        mem_limit: 1g
        cap_add:
            - IPC_LOCK
        volumes:
            - es1_data:/usr/share/elasticsearch/data
        networks:
            - default

    es2:
        container_name: gryc-es2
        build: ./docker/elasticsearch
        environment:
            - cluster.name=gryc-cluster
            - bootstrap.memory_lock=true
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
            - "discovery.zen.ping.unicast.hosts=es1"
        ulimits:
            memlock:
                soft: -1
                hard: -1
            nofile:
                soft: 65536
                hard: 65536
        mem_limit: 1g
        cap_add:
            - IPC_LOCK
        volumes:
            - es2_data:/usr/share/elasticsearch/data
        networks:
            - default

volumes:
    db_data:
        driver: local
    rabbitmq_data:
        driver: local
    es1_data:
        driver: local
    es2_data:
        driver: local

networks:
    default:
