version: '2'

services:
    nginx:
        container_name: gryc-nginx
        build: ./docker/nginx
        volumes_from:
            - app
        ports:
            - 127.0.0.1:8082:80
        networks:
            - default

    app:
        container_name: gryc-app
        build: ./docker/app
        environment:
            - DATABASE_URL=mysql://gryc:gryc@db:3306/gryc
            - REDIS_DSN=redis://redis
            - ELASTICSEARCH_URL=http://es:9200
            - RABBITMQ_URL=amqp://gryc:gryc@rabbitmq:5672/gryc?lazy=1&connection_timeout=3&read_write_timeout=3
            - MAILER_URL=smtp://login:password@host?encryption=ssl&auth_mode=login
            - MAILER_SENDER_ADDRESS=me@myhost.tld
            - MAILER_SENDER_NAME=My site name
            - SYMFONY_SECRET=ThisTokenIsNotSoSecretChangeIt
            - RECAPTCHA_PUBLIC_KEY=ReplaceWithYourOwnReCaptchaPublicKeyForInvisibleCatcha
            - RECAPTCHA_PRIVATE_KEY=ReplaceWithYourOwnReCaptchaPrivateKeyForInvisibleCatcha
        networks:
            - default

    redis:
        container_name: gryc-redis
        image: redis:3.2.9
        volumes:
            - redis_data:/data
        networks:
            - default

    db:
        container_name: gryc-db
        image: mariadb:10.3.0
        environment:
            - MYSQL_ROOT_PASSWORD
            - MYSQL_USER=gryc
            - MYSQL_PASSWORD=gryc
            - MYSQL_DATABASE=gryc
        volumes:
            - db_data:/var/lib/mysql
        networks:
            - default

    es:
        container_name: gryc-es
        build: ./docker/elasticsearch
        environment:
            - bootstrap.memory_lock=true
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
        ulimits:
            memlock:
                soft: -1
                hard: -1
            nofile:
                soft: 65536
                hard: 65536
        cap_add:
            - IPC_LOCK
        volumes:
            - es_data:/usr/share/elasticsearch/data
        networks:
            - default

    rabbitmq:
        container_name: gryc-rabbitmq
        image: rabbitmq:3.6.10-management
        environment:
            - RABBITMQ_DEFAULT_VHOST=gryc
            - RABBITMQ_DEFAULT_USER=gryc
            - RABBITMQ_DEFAULT_PASS=gryc
        volumes:
            - rabbitmq_data:/var/lib/rabbitmq
        networks:
            - default

volumes:
    db_data:
        driver: local
    es_data:
        driver: local
    redis_data:
        driver: local
    rabbitmq_data:
        driver: local

networks:
    default:
