DATABASE_URL=mysql://gryc:gryc@db:3306/gryc
ELASTICSEARCH_URL=http://es1:9200
RABBITMQ_URL=amqp://gryc:gryc@rabbitmq:5672/gryc?lazy=1&connection_timeout=3&read_write_timeout=3
MAILER_URL=smtp://login:password@host:587?encryption=tls&auth_mode=login
MAILER_SENDER_ADDRESS=me@myhost.tld
MAILER_SENDER_NAME=My site name
SYMFONY_SECRET=ThisTokenIsNotSoSecretChangeIt
RECAPTCHA_PUBLIC_KEY=ReplaceWithYourOwnReCaptchaPublicKeyForInvisibleCatcha
RECAPTCHA_PRIVATE_KEY=ReplaceWithYourOwnReCaptchaPrivateKeyForInvisibleCatcha
